body{
	background : url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-beer-000_5.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=c1552a7bdc2ea7b6e17d8d0d893c15be);
	background-size: cover;
}
body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

